[submodule "community_cookbooks/nginx"]
	path = community_cookbooks/nginx
	url = https://github.com/metastudio/nginx.git
[submodule "community_cookbooks/ohai"]
	path = community_cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai.git
[submodule "community_cookbooks/build-essential"]
	path = community_cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "community_cookbooks/htpasswd"]
	path = community_cookbooks/htpasswd
	url = https://github.com/Youscribe/htpasswd-cookbook.git
[submodule "community_cookbooks/redis"]
	path = community_cookbooks/redis
	url = https://github.com/ctrabold/chef-redis.git
[submodule "community_cookbooks/apt"]
	path = community_cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "community_cookbooks/yum"]
	path = community_cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
