{
  "run_list": [ "recipe[ohai]", "role[application]", "role[frontend]" ],
  "application": {
    "name": "example-app",
    "path": "/var/www/rails/example-app",
    "url": "example-app.com",
    "user": {
      "name": "example-app"
    },
    "environment": "staging",
    "ssl": {
      "certificate_path": "/usr/local/nginx/conf/sslchain.crt",
      "certificate_key_path": "/usr/local/nginx/conf/server.key"
    }
  }
}