{
  "run_list": [
    "recipe[ohai]", 

    "role[application]", 
    "role[frontend]", 
    "role[database-percona]",

    "recipe[redis]", 
    "recipe[rvm::system]", 
    "recipe[postfix]"
  ],
  "application": {
    "name": "example-app",
    "path": "/var/www/rails/example-app",
    "url": "example-app.com",
    "redirect_urls": ["www.example-app.com"],
    "user": {
      "name": "example-app"
    },
    "http_auth": {
      "user": "user",
      "password": "password",
      "except": ["/excepturl"]
    },
    "environment": "staging",
    "ssl": {
      "certificate_path": "/usr/local/nginx/conf/sslchain.crt",
      "certificate_key_path": "/usr/local/nginx/conf/server.key"
    }
  },
  "database": {
    "host":     "127.0.0.1",
    "name":     "example_staging",
    "user":     "example-staging",
    "password": "blahmehwhatever"
  },
  "nginx": {
    "source":   { 
      "version":  "1.2.8",
      "prefix":   "/usr/local/nginx" 
    },
    "dir":      "/usr/local/nginx/conf",
    "log_dir":  "/usr/local/nginx/log",
    "binary":   "/usr/local/nginx/sbin/nginx",
    "user":     "www-data",
    "init_style": "init"
  },
  "rvm": {
    "default_ruby": "ruby-1.9.3",
    "group_users": ["example-app"]
  },
  "authorization": {
    "sudo": {
      "groups": ["sudo", "admin"],
      "include_sudoers_d": true,
      "commands": [
        "/usr/bin/monit -g background restart"
      ]
    }
  },
 "percona": {
    "server": {
      "debian_password": "change-me",
      "root_password": "change-me"
    },
    "backup": {
      "password": "change-me"
    }
  },
  "backup": {
    "directory": "/backup"
  },
  "email": {
    "support": "support@example.com"
  }
}