{
  "run_list": [ "recipe[ohai]", "role[application]", "role[frontend]" ],
  "application": {
    "name": "example-app",
    "path": "/var/www/rails/example-app",
    "url": "example-app.com",
    "redirect_urls": ["www.example-app.com"],
    "user": {
      "name": "example-app"
    },
    "http_auth": {
      "user": "user",
      "password": "password",
      "except": ["/excepturl"]
    },
    "environment": "staging",
    "ssl": {
      "certificate_path": "/usr/local/nginx/conf/sslchain.crt",
      "certificate_key_path": "/usr/local/nginx/conf/server.key"
    }
  }
}